# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/
.eggs/

# Virtual env
.venv/
venv/
env/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Editors
.vscode/
.idea/
*.swp
.DS_Store

